*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/*
.header{
    background: gray;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

*/

.banner{
    background-image: url('../images/banner/banner1.png');
 width: 100%;
 height: 650px;
 /* left: 0px;
 top: 0px;
 */
 background-repeat: no-repeat;
 background-size: cover;
 align-items: center;
  position:relative;
  background-color: grey;
 
 }
  




 .banner-title{
    font-weight: 100px;
    font-size: 55px;
     text-align: right;
     padding-top: 180px;
     padding-left: 750px;
     padding-right: 150px;
     justify-content: right;
     align-items: right;
 }

 .banner-description{
    text-align: right;
    padding-top: 20px;
    color: black;
    padding-left: 750px;
     padding-right: 150px;
     justify-content: right;
     align-items: right;
}

.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
  border:0;
    padding-top: 25px;
    padding:18px 36px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
  

}

.contact-btn{
    text-align: right;
    padding-right: 200px;
}

.person-text{
    display:flex;
    padding-top: 100px;
    gap: 80px;
    justify-content: center;
}

.person-photo{
    
    padding-left: 60px;
    border-radius: 50%;
   background:pink;
   margin-bottom: 30px;
   margin-left: 50px;

   
}

.failure-text{
    padding-top:100px;
    justify-content: left;
}

.failure-title{
    font-weight: 700;
    font-size: 40px;
}

.failure-description{
    font-weight: normal;
    font-size: 16px;
    padding-top: 24px;
    padding-right: 220px;
}

.failure-text ul li{
    list-style-type: none;
    padding-top: 20px;
  padding-left: 0;
}

.section-title{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    padding-top: 50px;
 }

 .plans{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
    justify-content: space-between;
 }

 .plans-title{
    font-size: 20px;
    color: black;
    font-weight: bold;
 }

 .plans-description{
    font-weight: 700;
font-size: 20px;
color: #474747;
 }

 .my-plans-container{
    display: flex;
    
 }

 .my-plans{
    padding-left: 250px;
    padding-right: 200px;
 }

 

 .gradient-field{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52),rgba(117,19,93,0.73)),
                      url('../images/watch.png');
    width:1000px;
    height: 300px;
    background-size: auto;
    position: relative;
     margin-left: 200px;
    margin-top: 100px;
   margin-right: 300px;
    margin-bottom: 50px;
    /*background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%); */
    border-radius: 8px;

}

.text-field{
    padding-top: 30px;
    font-weight: normal;
    margin-top: 100px;
    margin-right:200px ;
    color:orangered;
    margin-left:150px ;
    font-size: 30px;
    width: 600px;
    height: 100px;
}

.btn-title{
    color:orangered;
    border-radius: 5px solid white;
    font-size: 20px;
    background: white;
    padding: 18px 36px;

}